root = false

#### .NET Coding Conventions ####
[*.{cs,vb}]
dotnet_diagnostic.IDE0005.severity = none
dotnet_diagnostic.IDE0055.severity = none
dotnet_diagnostic.IDE0160.severity = none
dotnet_diagnostic.MA0048.severity = none
